
.input{
    // border: none;
    background-color: transparent;
    // flex-grow: 1;
}
h1{
    padding-bottom: 20px;
}
// .line{
//     height: 1px;
//     background-color: black;
//     color: black;
//     width: 360px;
//     margin-left: 0px;
// }
.login{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.regiter-form{
    // border: 1px solid rgb(99, 99, 99);
    border-radius: 10px;
    width: 430px;
    display: block;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    padding: 30px;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Register{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    background-color: #f2f4f7;
}

.span{
    display: block;
    span{
        display: block;
    justify-content: first baseline;
    align-items: flex-start;
    padding: 10px 0;
    color: #9b9b9b;
    }
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    color: #0256d4;
    font-family: 'Billabong', cursive;
}